.form {
  display: flex;
  flex-direction: row;
}
.search-field {
  width: 100%;
  padding: 10px 35px 10px 15px;
  border: none;
  border-radius: 100px;
  outline: none;
  background-color: rgb(248, 247, 247);
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -40px;
}

.search-button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.logo_image {
  height: 40px;
  object-fit: contain;
}
